{% extends "base.html" %}
{% block title %}Suchresultate – Price Hunter{% endblock %}
{% block content %}

<!-- Container für Statusbar während Produkte-Rendering -->
<br>
<br>
<div class="container-sm">
<h2 class="text-center mb-4">Produktsuche läuft...{% if daten|length == 1 and success %}{% endif %}</h2>
<br>
<br>

<div class="progress" role="progressbar" aria-label="Animated striped example"
     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%">50%</div>
</div>

<!-- Java Script Funktion zur Anzeige der Statusbar während Produkte-Rendering -->

<script>

let current = 50;
const max = 99;
const step = 1;
const intervalMs = 50;
const bar = document.querySelector('.progress-bar');

const interval = setInterval(() => {
  if (current >= max) {
    clearInterval(interval);
    window.location.href = "/suchresultat";
  } else {
    current += step;
    bar.style.width = current + '%';
    bar.textContent = current + '%';
    bar.setAttribute('aria-valuenow', current);
  }
}, intervalMs);
</script>

<!-- Button für die Anzeige gespeicherter Suchresultate -->
{% if show_all_link %}
<div class="d-grid d-sm-flex justify-content-sm-end mt-3">
    <a href="{{ url_for('suchresultat_total') }}" class="btn btn-outline-secondary">Alle gespeicherten Resultate
        anzeigen</a>
</div>
{% endif %}

{% endblock %}